@model IEnumerable<RaktarKeszlet.Models.StorageContainer>

@{
    ViewData["Title"] = "Tárolóeszközök (Dobozok, Raklapok)";
}

<h1>Tárolóeszközök</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Új tárolóeszköz felvitele</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Melyik Polcon/Soron van?</th>
                <th>Tárolóeszköz azonosítója</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <!-- IDE FIGYELJ: Ha nálad nem Name, hanem pl. ShelfNumber, akkor írd át! -->
                    <td>@(item.Shelf != null ? item.Shelf.Identifier : "Nincs megadva")</td>
                    <td class="fw-bold">@item.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Szerkesztés</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Részletek</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Törlés</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>